@{
    Layout = null;
}
<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- App css -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />

<!-- icons -->
<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

<!-- Theme Config Js -->
<script src="assets/js/config.js"></script>
<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9">
                <div class="card">

                    <div class="card-body p-4">

                        <div class="text-center mb-4">
                            <div class="auth-logo">
                                <a href="" class="logo logo-dark text-center">
                                    <span class="logo-lg">
                                        <img src="assets/images/ekblueLogo.png" alt="" height="22">
                                    </span>
                                </a>

                                <a href="" class="logo logo-light text-center">
                                    <span class="logo-lg">
                                        <img src="assets/images/ekWhiteLogo.png" alt="" height="22">
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <h4 class="ml-2 mt-3 mt-lg-0">Create an Account?</h4>
                            <div class="col-lg-6">
                                <div class="p-sm-3">
                                    <form action="#">
                                        <div class="mb-3">
                                            <label for="fullname" class="form-label">First Name</label><span class="text-danger">*</span>
                                            <input class="form-control" type="text" id="fullname" placeholder="Enter your  first name" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="emailaddress2" class="form-label">Phone Number</label>
                                            <input class="form-control" type="email" id="emailaddress2" required placeholder="Enter your Phone Number">
                                        </div>
                                        <div class="mb-3">
                                            <label for="password2" class="form-label">Password</label>
                                            <input class="form-control" type="password" required id="password2" placeholder="Enter your password">
                                        </div>
                                    </form>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-6">
                                <div class="p-sm-3">                                    
                                    <form action="#">
                                        <div class="mb-3">
                                            <label for="fullname" class="form-label">Last Name</label><span class="text-danger">*</span>
                                            <input class="form-control" type="text" id="fullname" placeholder="Enter your last name" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="emailaddress2" class="form-label">Email address</label>
                                            <input class="form-control" type="email" id="emailaddress2" required placeholder="Enter your email">
                                        </div>
                                        <div class="mb-3">
                                            <label for="password2" class="form-label"> Confirm Password</label>
                                            <input class="form-control" type="password" required id="password2" placeholder="Enter your confirm password">
                                        </div>
                                        <div>
                                            <button class="btn btn-success float-sm-end" type="submit"> Sign Up </button>
                                            <div class="form-check pt-1 overflow-hidden">
                                                <input class="form-check-input" type="checkbox" id="checkbox-signup">
                                                <label class="form-check-label" for="checkbox-signup">
                                                    I accept <a href="javascript: void(0);" class="text-dark">Terms and Conditions</a>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                      

                            </div> <!-- end col -->
                        </div>
                        <!-- end row-->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted">Already have an account? <a href="" class="text-primary fw-medium ms-1">Sign In</a></p>
                            </div> <!-- end col -->
                        </div>
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->
<!-- Vendor js -->
<script src="assets/js/vendor.min.js"></script>

<!-- App js -->
<script src="assets/js/app.min.js"></script>