<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box page-title-box-alt">
            <h4 class="page-title"> Create Product </h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    @*<li class="breadcrumb-item"><a href="javascript: void(0);">Minton</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                    <li class="breadcrumb-item active">Product List</li>*@
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="card">
    <div class="card-body p-4">
        <form action="#">
            <div class="row">
                <h4 class="ml-2 mt-3 mt-lg-0">Create Product</h4>
                <div class="col-lg-6">
                    <div class="p-sm-3">

                        <div class="mb-3">
                            <label for="Productname" class="form-label">Product Name</label><span class="text-danger">*</span>
                            <input class="form-control" type="text" id="Productname" placeholder="Enter your  Product Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="productdescription" class="form-label">Product Description</label>
                           
                            <textarea class="form-control">

                         </textarea>
                        </div>

                        <div class="mb-3">
                            <label for="Image" class="form-label">Image</label>
                            <input type="file">
                        </div>
                        <div class="mb-3">
                            <label for="Category" class="form-label">Category</label><span class="text-danger">*</span>
                            <select>
                                <optgroup label="optgroup">
                                    <option>Mobile</option>
                                    <option>Laptop</option>
                                    <option>Headset</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="Price" class="form-label">Price</label><span class="text-danger">*</span>
                            <input class="form-control" type="text" id="Price" placeholder="Enter your  Price" required>
                        </div>
                        <div class="mb-3">
                            <label for="Quantity" class="form-label">Quantity</label><span class="text-danger">*</span>
                            <input class="form-control" type="text" id="Quantity" placeholder="Enter your  Quantity" required>
                        </div>
                        <div class="mb-3">
                            <label for="Publishonsite" class="form-label">Publish On Site</label><span class="text-danger">*</span>
                            <input type="checkbox">
                        </div>
                    </div>
                </div> <!-- end col -->

             
            </div>
            <!-- end row-->

            <div class="row mt-3">
                <div class="col-12 text-center">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <a href="product-List-view" class="btn btn-danger">Cancel</a>

                </div> <!-- end col -->
            </div>
        </form>
    </div> <!-- end card-body -->
</div>
<!-- end card -->