

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box page-title-box-alt">
                        <h4 class="page-title">Product List</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                               @* <li class="breadcrumb-item"><a href="javascript: void(0);">Minton</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                                <li class="breadcrumb-item active">Product List</li>*@
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body"> 
                            <div class="row mb-2">
                                <div class="col-sm-6">
                     
                                </div>
                                <div class="col-sm-6">
                                    <div class="float-sm-end">
                            <a href="Create-Product" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-1"></i> Add Products</a>
                                        @*<button type="button" class="btn btn-success mb-2 mb-sm-0"><i class="mdi mdi-cog"></i></button>*@

                                    </div>
                                </div><!-- end col-->
                            </div>
                            <!-- end row -->

                            <div class="table-responsive">
                                <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="all" style="width: 20px;">
                                                <div class="form-check mb-0 font-16">
                                                    <input class="form-check-input" type="checkbox" id="productlistCheck">
                                                    <label class="form-check-label" for="productlistCheck">&nbsp;</label>
                                                </div>
                                            </th>
                                            <th class="all">Product</th>
                                            <th>Category</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Status</th>
                                            <th style="width: 85px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check mb-0 font-16">
                                                    <input class="form-check-input" type="checkbox" id="productlistCheck1">
                                                    <label class="form-check-label" for="productlistCheck1">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td>
                                                <img src="assets/images/products/product-1.png" alt="contact-img" title="contact-img" class="rounded me-3" height="48" />

                                                <h5 class="m-0 d-inline-block align-middle"><a href="#" class="text-dark">Blue color T-shirt</a></h5>
                                            </td>
                                           
                                            <td>
                                                T-shirt
                                            </td>
                                           
                                            <td>
                                                <div>
                                                    $ 32
                                                </div>
                                            </td>

                                            <td>
                                                112
                                            </td>
                                            <td>
                                                <span class="badge badge-soft-success">Active</span>
                                            </td>

                                            <td>
                                                <ul class="list-inline table-action m-0">
                                                   
                                                    <li class="list-inline-item">
                                                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        
                                       
                                        
                                       
                                      
                                       
                                       
                                        <tr>
                                            <td>
                                                <div class="form-check mb-0 font-16">
                                                    <input class="form-check-input" type="checkbox" id="productlistCheck112">
                                                    <label class="form-check-label" for="productlistCheck112">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td>
                                                <img src="assets/images/products/product-4.png" alt="contact-img" title="contact-img" class="rounded me-3" height="48" />

                                                <h5 class="m-0 d-inline-block align-middle"><a href="#" class="text-dark">Blue color T-shirt</a></h5>
                                            </td>
                                            
                                            <td>
                                                T-shirt
                                            </td>
                                           
                                            <td>
                                                <div>
                                                    $ 47
                                                </div>
                                            </td>

                                            <td>
                                                74
                                            </td>
                                            <td>
                                                <span class="badge badge-soft-danger">Deactive</span>
                                            </td>

                                            <td>
                                                <ul class="list-inline table-action m-0">
                                                   
                                                    <li class="list-inline-item">
                                                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->


      